<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapZip.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFC7A4FB27D793D900F110C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC7A51127D793DD00F110C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC7A51B27D793DD00F110C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
